html {
    scroll-behavior: smooth;            /*sayfadaki geçişlerin akıcı olması için*/
}

/*navbar*/
.c_navbar {
    font-family: 'Poppins', sans-serif; /*navbarın yazı tipi*/
    height:10vh;                        /*sayfada kapladığı alan*/
}

/*navbar içindeki logo*/
.logo{
   position: relative;
   left: 0;
   height:18vh;                         /*logonun navbar içinde kapladığı yükseklik*/
}

/*slider*/
.slider {
    width: 70%;                         /*sliderin genişliğini ekrana göre yüzdelik olarak ayarlama*/
    display: block;
    margin: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    border-style: solid;
    border-color: #5f85db;                      /*çerçeve rengi*/
    border-radius: 10px;                        /*border köşelerini yuvarlak yapmak için*/
    box-shadow: 0px 4px 8px rgba(21,0,42,255);  /*gölge rengi ve boyutları*/
    background-color: rgba(53, 58, 64,0.4);
}

/*footer*/
footer {
    width: 100%;
    padding: 8px 0px 25px 0px;
    background-color: #26282b;
}

/*sayfanın başına dönmeyi sağlayan buton*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;                                   /*hmtl elemanlarının en üstünde gözükmesi için*/
    font-size: 18px;                                
    border: none;
    outline: none;
    background-color: #b9d2d2;
    cursor: pointer;                                /*fare ile üstüne gelince cursor'un parmak olması için*/
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

/*dosya yükleme alanı ve metni*/
#dosya_yukleme {
    height:100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;                  /*html elemanlarının aralarında eşit boşluk ve merkezde olması için*/
    margin: 20px;
    align-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#dosya_yukleme p{
    display:inline;
}

/*işlemi başlat butonu*/
#start-button {
    margin: 30px 0px;
    display: none;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    left: 30%;
}

/*dosya yükleme alanı*/
.drag-area {
    border: 2px dashed #5f85db;
    height: 500px;
    width: 40%;
    margin-left:-8%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #5f85db;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #26282B;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

/*sayfanın en altında yer alan sosyal medya ikonları*/
.social_footer {
    display: flex;
    flex-direction: row;                             /*ikonların yan yana durması için*/
    justify-content: center;                        /*ikonların sayfanın ortasına gelmesi*/
    list-style-type: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.social_footer a {
    color: #CCC;
    padding: 8px;
    border-radius: 50%;
    margin:10px;
}

.social_footer i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.social_footer- p{
    position:absolute;
    left:0;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*hakkýmýzda*/
.property-card {
    height: 18em;
    width: 18em;
    margin: 0px 15px;
    border: solid 2px #353941;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 5px 7px rgba(0, 0, 0,0.5);
}

.property-image {
    height: 9em;
    width: 18em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    object-fit: fill;
}

.property-description {
    background-color: #353941;
    height: 9em;
    width: 18em;
    position: absolute;
    bottom: 0em;
    color:white;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

.property-social-icons {
    position: absolute;
    margin-left:43%;                         /*soldan boşluk vermek için*/
    bottom:1em;
    color: #353a40;
}

.property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
}

.property-card:hover .property-image {
    height: 18em;
}

.property-card:hover .property-social-icons:hover {
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: white;
    opacity: 0.5;
}

/* The Modal (background) */
.modal {
    display: none; /*başlangıçta gizli */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin-left: 55vh;
    margin-bottom: 20vh;
    display: block;
    width: 100%;
    max-width: 700px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 50px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
